<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.bunker.deliverylibre"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ajustes"
            android:label="@string/title_activity_ajustes" >
        </activity>
        <activity
            android:name=".Compras"
            android:label="@string/title_activity_compras" >
        </activity>
        <activity
            android:name=".Ventas"
            android:label="@string/title_activity_ventas" >
        </activity>
        <activity
            android:name=".Recientes"
            android:label="@string/title_activity_recientes" >
        </activity>
        <activity
            android:name=".Conversacion"
            android:label="@string/title_activity_conversacion" >
        </activity>
    </application>

</manifest>
